/**
 * Created by tomas on 20.11.2020.
 */

.THIS  {

    float: right;
}

.THIS .ul-basket {
    float: right;
}

.THIS li {
    float: right;
}


.THIS .slds-context-bar__item{
    float: right;
}

.THIS .ul-basket a {

}