.THIS {
}

.THIS .container {
    width: 100%;
    height: 100%;
}

.THIS .cardButtons {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem;
}


.THIS .table-name-section {
    max-width: 4rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.THIS .table-name-section:hover {
    max-width: none;
    overflow: visible;
    background-color: inherit;
    z-index: 1000;
}